<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--开启驼峰式命名-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!--类型别名-->
    <typeAliases>
        <package name="com.amakawa.pojo"/>
        <package name="com.amakawa.dto"/>
    </typeAliases>


    <!--pagehelper的配置-->
    <!--pageSizeZero，默认为false，开启了之后如果page=0，或者limit=0，就会查询出全部结果。-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>

    <!--将包内的所有接口都注册-->
    <mappers>
        <package name="com.amakawa.mapper"/>
    </mappers>

</configuration>